.App {
  text-align: center;
}

.myForm {
  width: 500px;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
  margin-left: 400px;
}

.formField {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 50px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box;
}

.myButton {
  width: 400px;
  background-color: #00b894;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myList {
  list-style: none;
}

.myListButton {
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 7px;
  color: #000;
  background-color: #00ffcc;
  border: 1px solid #00b894;
  margin: 3px 5px;
}

